form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

form label {
    margin-top: 10px;
}

form button {
    margin-top: 10px;
}

.team-form {
    width: 300px;
    margin: 10px auto;
}

.team-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.teammate-card {
    margin: auto auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}